Source: mavlink
Priority: optional
Maintainer: Toby Schneider <tes.aubergine@gmail.com>
Build-Depends: cdbs, debhelper (>= 8.0.0), cmake, python-lxml | python3-lxml, python-dev | python3-dev, python-future | python3-future
Standards-Version: 3.9.4
Section: libs
Homepage: https://mavlink.io/en/

Package: libmavlink-dev
Section: libdevel
Architecture: all
Description: Development headers for MAVLink Library
 Library headers for MAVLink. MAVLink is a very lightweight messaging protocol for communicating with drones (and between onboard drone components).
