Source: mavlink
Priority: optional
Maintainer: Toby Schneider <tes.aubergine@gmail.com>
# use python3 starting in Debian Buster / Ubuntu Focal
Build-Depends: cdbs, debhelper (>= 8.0.0), cmake, python3-lxml (>= 4.3.2~) | python-lxml, python3-dev (>=3.7.3~) | python-dev, python3-future (>=0.16.0~) | python-future
Standards-Version: 3.9.4
Section: libs
Homepage: https://mavlink.io/en/

Package: libmavlink-dev
Section: libdevel
Architecture: all
Description: Development headers for MAVLink Library
 Library headers for MAVLink. MAVLink is a very lightweight messaging protocol for communicating with drones (and between onboard drone components).
