#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

UPSTREAM_LAST_RELEASE = 1.0.12+gs1
get-orig-source:
	git clone https://github.com/GobySoft/mavlink.git -b $(UPSTREAM_LAST_RELEASE) /tmp/mavlink
	git -C /tmp/mavlink submodule init 
	git -C /tmp/mavlink submodule update --recursive
	debian/git_archive_all.py -C /tmp/mavlink --prefix=mavlink-$(UPSTREAM_LAST_RELEASE) mavlink_$(UPSTREAM_LAST_RELEASE).orig.tar.gz
	rm -rf /tmp/mavlink

DEB_CMAKE_EXTRA_FLAGS = -DBUILD_SHARED_LIBS=ON
DEB_BUILD_PARALLEL = true

DEB_BUILD_ARCH ?= $(shell dpkg-architecture -qDEB_BUILD_ARCH)
DEB_TARGET_ARCH ?= $(shell dpkg-architecture -qDEB_TARGET_ARCH)
DEB_TARGET_GNU_CPU ?= $(shell dpkg-architecture -qDEB_TARGET_GNU_CPU)
# cross compiling
ifneq ($(DEB_BUILD_ARCH),$(DEB_TARGET_ARCH))
	DEB_CMAKE_EXTRA_FLAGS += -DCMAKE_SYSTEM_NAME=Linux -DCMAKE_SYSTEM_PROCESSOR=$(DEB_TARGET_GNU_CPU)
endif

$(info $$DEB_BUILD_ARCH is [${DEB_BUILD_ARCH}])
$(info $$DEB_TARGET_ARCH is [${DEB_TARGET_ARCH}])
$(info $$DEB_CMAKE_EXTRA_FLAGS is [${DEB_CMAKE_EXTRA_FLAGS}])

CC=$(DEB_HOST_GNU_TYPE)-gcc
CXX=$(DEB_HOST_GNU_TYPE)-g++
